body{
    padding-top: 90px !important;
    padding-bottom: 90px !important;
    background-color: #FFFBF2;
}

header {
    background-color: #33211D;
    color: FFFBF2;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: FFFBF2 !important;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}


.navbar-nav .d-flex {
    align-items: center;
}


.navbar-nav img {
    vertical-align: middle;
}

.navbar-nav span {
    margin-left: 10px;
    font-size: 1rem; 
}
.btn{
    background-color: #33211D;
    color: FFFBF2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFFBF2;
    color: #33211D;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .navbar-nav .d-flex {
        justify-content: center; 
        margin-top: 10px;
    }
}
