body{
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

header {
    background-color: #4b3723;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}


.navbar-nav .d-flex {
    align-items: center;
}


.navbar-nav img {
    vertical-align: middle;
}

.navbar-nav span {
    margin-left: 10px;
    font-size: 1rem; 
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .navbar-nav .d-flex {
        justify-content: center; 
        margin-top: 10px;
    }
}
