body {
    padding-top: 100px; 
    padding-bottom: 60px; 
}

.highlight {
    background-color: #4B6F44;
    color: white;
}



.product-item {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    padding: 10px;
    margin-bottom: 20px; 
    background-color: white; /* Ensure background is set */
}

.product-item:hover {
    background-color: #FCf8f3; 
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #4B6F44;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.quantity-controls span {
    width: 30px;
    text-align: center;
}

.bill {
    background-color: #FCf8f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    height: fit-content;
}

.search-select-container {
    margin-bottom: 20px;
}
.product-item img {
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
    object-fit: cover;  /* Ensures the image covers the area without distortion */
    border-radius: 20px; /* Optional: to round the corners of the image */
    margin-bottom: 10px; /* Optional: to add space below the image */
}

.search-select-container input {
    width: 100%;
}

@media (max-width: 767.98px) {
    .col-md-8, .col-md-4 {
        width: 100%;
    }
}
