body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding-bottom: 80px; 
    padding-top: 90px; 
}

.login-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
    color: #4b3723;
    font-size: 16px;
}

.avatar img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 50%;
}

.input-box {
    margin-bottom: 10px;
}

.input-box input,
.input-box select,
.input-box input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 18px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #4b3723;
    box-shadow: 0 0 5px #4b3723;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.button-box button {
    background-color: #4b3723;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button-box button:hover {
    background-color: #7b5b43;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0;
    font-size: 32px;
    color: #4b3723;
    text-align: center;
    margin-bottom: 20px;
}


